---
const { isRed = false } = Astro.props
---


<div class="hover:cursor-pointer hover:bg-blue-700 transition-colors inline-flex rounded items-center gap-2 bg-blue-200 hover:text-white animate-bounce"
        class:list={{"bg-orange-600 hover:bg-red-600": isRed}}

>

    <slot name="start-icon"/>
    

    <slot name="text1">
        cancelar
    </slot>

    <slot name="end-icon" />


   

   
</div>
