---


const { title =' No name',  msj = 'hola'} = Astro.props;

import Slider from "../components/slider.astro";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		
		<header class="bg-blue-600 h-[80px]">
			  

		</header>
		<menu class="bg-red-500 flex   font-semibold text-white font-mono justify-around">
			<li class="">
				<a href="/"  class="hover:bg-red-950/25 block  px-2">INICIO</a>
				
			</li>

			<li >
				<a href="/quienes_somos" class="hover:bg-red-950/25 block px-2">QUIENES SOMOS</a>
			</li>

			<li >
				<a href="/organigrama" class="hover:bg-red-950/25 block px-2">Organigrama</a>
			</li>


			<li >
				<a href="/contacto" class="hover:bg-red-950/25 block px-2">CONTACTO</a></li>

		</menu>
		{msj}

	
		<slot />
	</body>

	<style>
	@font-face {
		font-family: 'myfonts';
		src: url('fonts/Amaranth-Bold.ttf'); 
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	  }</style>
</html>
